<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Формы{% endblock %}</title>
</head>
<body>
    <div>
        <a href="{% url 'index' %}">Главная</a>
        {% if user.is_authenticated %}
            <a href="{% url 'recipe_add_form' %}">Добавить рецепт</a>
            <span>Пользователь: {{ request.user }}</span>
            <a class="dropdown-item dd-item-color" href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'register' %}">Регистрация</a>
            <a href="{% url 'login' %}">Вход</a>
        {% endif %}
    </div>
    <div>
        {% block content %}
        Контент скоро появится...
        {% endblock %}
    </div>
</body>
</html>
